/*PAGE STYLES*/
/*---------------*/

body {
    background: url("../resources/images/starGalaxy.jpg") #b3bccc;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    margin: 5px;
}

h2 {
    font-size: 50px;
    margin: 5px;
}

h3 {
    font-size: 40px;
    margin: 5px;
}

h4 {
    font-size: 30px;
    margin: 5px;
}

h5 {
    font-size: 20px;
    margin: 5px;
}

/*INDEX CLASSES*/

.about {
    position: relative;
    text-align: center;
    height: 85%;
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 35rem) {
    .about {
        width: 90%;
    }
}

.aboutContent {
    bottom: 0;
    height: fit-content;
    position: absolute;
    margin: auto 0;
    background-color: #ffffff;
    opacity: 0.9;
}

@media (max-width: 35rem) {
    .aboutContent {
        bottom: unset;
    }
}

.aboutColumns {
    display: flex;
    width: 100%;
}

.aboutSection {
    border: 3px solid black;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
}

.column {
    flex-grow: 1;
    margin: auto 20px;
    flex-basis: 0;
}

.contentBox {
    padding: 20px;
    width: 50%;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    display:flex;
    flex-direction: column;
}

.contentBox iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 35rem) {
    .contentBox {
        margin: 10px auto;
        width: 80%;
    }
}

.contentRow {
    width: 100%;
    margin: 45px auto;
    text-align: center;
    background-color: #ffffff;
    display: flex;
}

@media (max-width: 35rem) {
    .contentRow {
        flex-direction: column;
    }
}

.introText {
    width: 80%;
    margin: 70px auto;
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.9;
}

@-moz-document url-prefix() {
    .moreInfo{
        margin: 150px auto;
    }
}

.pageIntro {
    height: min-content;
    margin: auto 50px;
}

@media (max-width: 35rem) {
    .pageIntro {
        margin: 10px;
    }
}

.socialIcon {
    display: table-cell;
}

.socialLink {
    text-align: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}

.socialLink a {
    text-decoration: none;
}

.socialLinks {
    width: 30%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
}

.socialLinkText {
    display: inline-block;
    margin: auto 0;
    margin-left: 5px;
    top: 50%;
    left: 45px;
    transform: translate(0%, -50%);
}

.spacer {
    height: 200px;
}

.spacerLarge {
    height: 500px;
}

.titleBox {
    background-color: #ad4150;
    background-attachment: fixed;
    color: #FFFFFF;
    width: 60%;
    margin: 15px auto;
    margin-top: 53px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 1px black;
}

#video {
    position: relative;
    padding-bottom: 56.25%;
}

.widget {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    position: relative;
}

/* ID STYLING */
/* ---------- */

#discordLink {
    width: fit-content;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 5px 13px;
}

@-moz-document url-prefix() {
    #discordLink {
        width: 50%;
    }
}

#imageGallery {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    background-color: #000000;
}


/*fix in firefox: https://stackoverflow.com/questions/44521054/flex-in-firefox-shrinks-images-automatically-but-not-in-chrome */
#imageGallery img {
    margin: 5px 20px;
    max-height: 450px;
    width: auto;
    box-shadow: 0px 0px 0px 13px white;
}

/*TWITTER WIDGET*/
/*---------------*/

.secondary {
    color: #b3bccc;
}

.twitterIcon {
    width: 32px;
    border-radius: 50%;
}

.twitterWidgetRow {
    margin: 0;
    padding: 1px;
    width: 100%;
}

.twitterWidgetBox {
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    text-align: left;
    margin: 0px auto;
    margin-top: 10px;
    max-height: 50%;
    /*background-color: aliceblue;*/
    padding: 13px;
    border: 2px solid black;
    max-height: 500px;
}

@-moz-document url-prefix() {
    .twitterWidgetBox {
        max-height: 400px;
    }
}

.twitterWidgetTweet {
    margin: 5px 0;
    border: 1px solid grey;
    padding: 5px;
}

/*PARALLAX CLASSES*/
/*---------------*/

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: -1;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: -2;
}